.container {
  width: 100%;
}

.searchbar {
  padding: "8px";
  font-size: "16px";
  box-sizing: "border-box";
}

.dropdown {
  background-color: aqua;
  width: 170px;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown p {
  padding: 8px;
  margin: 0;
  cursor: "pointer";
}
